<!DOCTYPE html>
<html>
<body>
  <h1>Resultado da Query 1</h1>
  <p>Lista de Usuarios</p>
  {% if query1_result_list %}
    <p>TOTAL: {{query1_result_list | length}}</p>
    {% for row in query1_result_list %}
    <ul>
      <li><p><strong>CPF</strong>: {{row.pessoa.cpf}}</p> </li>
      <li><p><strong>Nome</strong>: {{row.pessoa.nome}}</p> </li>
      <li><p><strong>Login</strong>: {{row.login}}</p> </li>
      <li><p><strong>Data de nascimento</strong>: {{row.pessoa.nascimento}}</p> </li>
      <li><p><strong>Área de pesquisa</strong>: {{row.area_de_pesquisa}}</p> </li>
    </ul>
    <br>
    {% endfor %}
  {% else %}
    <p>No results are available.</p>
  {% endif %}
</body>
</html>
