{% extends "admin/app_index.html" %}

{% block content %}
{{ block.super }}

<div id="content-main">
    <div class="app-{{ app.app_label }} module">
        <table>
            <caption>
                <a href="sofisticado" class="section">Consultas</a>
            </caption>
            <tr>
                <th scope="row"><a href="../sofisticado">Sofisticado</a></th>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="../eficiencia">5 Exames mais eficientes</a></th>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="../servico_usuario">Serviços utilizados pelos usuario</a></th>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="../servico_tutelado">Serviços utilizados pelos tutelados</a></th>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="../agrupado">Serviços agrupados por serviço disponivel e perfil do usuario</a>
                </th>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
