{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="{% url 'admin:index' %}">Laboratório</a>
&rsaquo;
<a href="{% url 'admin:index' %}">Dashboard</a>
</div>
{% endblock %}
{% endif %}

{% block content %}
    <style>
         body {
             font-family: Roboto;
         }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        section {
            border: solid 1px #e5e5e5;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 300;
            color: #666;
        }
        h2 {
            margin: 0 0 15px 0;
        }

        .dashboard #content {
            margin: 0;
            width: auto;
        }

        .contadores {
            display: flex;
            justify-content: space-between;
            margin: 20px 30px;
        }

        .contadores > div {
            margin: 0 20px;
        }

        .numero {
            text-align: center;
            font-size: 48px;
        }

        .sumario {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .comuns {
            min-width: 300px;
        }

        .pendentes, .eficientes {
            flex-grow: 1;
        }

        table {
            width: 100%;
        }
        table tr, table td {
            text-align: left;
        }
    </style>

    <h1 style="margin-left: 10px;">Dashboard</h1>

    <div class="row">
        <section class="sumario">
            <h2>Exames</h2>

            <div class="contadores">
                <div>
                    <div class="numero">53</div>
                    <div>Visualizado</div>
                </div>

                <div>
                    <div class="numero">18</div>
                    <div>Solicitado</div>
                </div>

                <div>
                    <div class="numero">15</div>
                    <div>Alterados</div>
                </div>

                <div>
                    <div class="numero">3</div>
                    <div>Removidos</div>
                </div>
            </div>
        </section>

        <section class="comuns">
            <h2>Vírus Mais Testados</h2>

            <table>
                <tr>
                    <th>#</th>
                    <th>Vírus</th>
                    <th>Testes</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Sars-Cov-2</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sars-Cov-2</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sars-Cov-2</td>
                    <td>6</td>
                </tr>
            </table>

        </section>
    </div>

    <div class="row">
        </section>

        <section class="eficientes">
            <h2>Tipo de Exames Mais Eficientes</h2>

            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Vírus</th>
                    <th>Espera</th>
                </tr>
                <tr>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>00:02:40</td>
                </tr>
                <tr>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>00:02:40</td>
                </tr>
                <tr>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>00:02:40</td>
                </tr>
            </table>

        </section>

        <section class="pendentes">
            <h2>Exames Pendentes</h2>

            <table>
                <tr>
                    <th>Cód. Amostra</th>
                    <th>Tipo</th>
                    <th>Vírus</th>
                    <th>Espera</th>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>14:10:03</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>14:10:03</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Sorologia</td>
                    <td>Sars-Cov-2</td>
                    <td>14:10:03</td>
                </tr>
            </table>
        </section>
    </div>

{% endblock %}


{% block sidebar %}{% endblock %}
